{% extends 'basic.html' %}
{% load static %}
{% block title %}  System zarządzania biblioteką {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <br>
        <h1 class="text-center"><u>Zmiana Hasła</u></h1>
    <div class="row mt-4">
        <div class="form-group col-md-6">
            <input type="password" class="form-control mt-2" name="new_password" placeholder="Wprowadź Nowe Hasło" required>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-4">Edycja</button>
</div>
</form>
<div class="text-center">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
</div>
{% endblock %}


