{% extends 'basic.html' %}
{% load static %}
{% block title %} System zarządzania biblioteką {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1 class="text-center"><u>Lista wypożyczonych książek</u></h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>Numer.Index</th>
                <th>Data Wypożyczenia</th>
                <th>Data Planowanego Zwortu</th>
                <th>Książka</th>
                <th>Użytkownik</th>
            </tr>
        </thead>
        <tbody>
            {% for b in borowed %}
            <tr>
                <td>{{forloop.counter}}.</td>
                <td>{{b.date_of_borrow}}</td>
                <td>{{b.date_to_return}}</td>
                <td>{{b.book}}</td>
                <td>{{b.user}}</td>
                {% if user.is_superuser %}
                <td><a href="/unrent/{{b.user}} {{b.book}}/" class="btn btn-danger" >Delete</a></td>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

